---
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  heroImage: string;
}

const { title, description, pubDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article>
    <div class="w-full">
      {
        heroImage && (
          <img
            width={1020}
            height={510}
            src={heroImage}
            alt=""
            class="block mx-auto rounded-xl shadow-md"
          />
        )
      }
    </div>
    <div class="prose max-w-[720px] mx-auto px-4 py-4">
      <div class="mb-4 py-4 text-center leading-none">
        <div class="mb-2 text-gray-500">
          <FormattedDate date={pubDate} />
        </div>
        <h1 class="mt-0 mb-2">{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>

<script type="module" is:inline>
  import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs";

  mermaid.initialize({ startOnLoad: false });
  mermaid.init(undefined, document.querySelectorAll("code.language-mermaid"));
</script>
